# Docker
Dockerfile
.dockerignore

# Next.js
.next/
out/

# Node.js / Bun
node_modules/
# bun.lockb
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
*.env
.env*
!.env.example
!.env.production.example

# Prisma (adjust as necessary)
# prisma/generated/

# Misc
.DS_Store
*.pem
*.key

README.md
.git
.gitignore
.env*
!.env.production
.vscode
.github
tests
__tests__
coverage
.editorconfig
DevOps